* {
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

body {
  margin: 0 0 1px 0;
  background: linear-gradient(253.81deg, #59BA69 30.24%, #ECFB92 86.74%);
}

a {
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.header {
  padding: 0 60px;
  background-color: rgba(0, 0, 0, 0.31);
  

    @media (max-width: 540px) {
      padding: 0 40px;
    } 
}

.navbar {
  display: flex;
  flex-direction: row;

    @media (max-width: 1636px) {
      flex-wrap: wrap;
      
    }

    &__menu-wrapper {
      padding: 60px 0 10px 0;
      display: flex;
      flex-direction: row;


        @media (max-width: 1130px) {
          padding: 20px 0 10px 0;
          
        }
        
        @media (max-width: 706px) {
          flex-direction: column;
          padding: 0 0 10px 0;
        }


      
        &_left {

            @media (max-width: 1636px) {
              flex-grow: 1;
              
            }
          
        }

        &_right {
            @media (max-width: 706px) {
              flex-grow: 1;
              
            }
        }
    }

    &__sitename-wrapper {
      padding: 0 20px;
      flex-grow: 1;
      text-align: center;

        @media (max-width: 1636px) {
          order: -1;
          width: 100%;
          
        }

        
    }

    &__sitename-title {
      font-family: 'Mr Dafoe', cursive;
      font-size: 86px;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      color: #FFFFFF;
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

        @media (max-width: 540px) {
          font-size: 66px;
        }

        @media (max-width: 450px) {
          font-size: 46px;
        }
        @media (max-width: 360px) {
          font-size: 36px;
        }
    }
}

.menu-item {


    &_right {
      padding: 0 30px;
      text-align: right;

        @media (max-width: 885px) {
          padding: 0 20px;
        }

        @media (max-width: 706px) {
          padding-top: 8px;
        }
    }

    &_left {
      padding: 0 10px;
      text-align: left;
    }

    &__title {
      color: #FFFFFF;
      font-family: 'Manjari', sans-serif;
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
      font-size: 36px;
      line-height: 36px;
      padding-top: 9px;
      display: block;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      
        @media (max-width: 1772px) {
          font-size: 30px;
          line-height: 30px;
        }

        @media (max-width: 1230px) {
          font-size: 26px !important;
          line-height: 26px !important;
          padding-top: 5px;
        }

        @media (max-width: 1130px) {
          font-size: 20px !important;
          line-height: 20px !important;
          padding-top: 5px;
        }

        @media (max-width: 980px) {
          font-size: 16px !important;
          line-height: 16px !important;
          padding-top: 4px;
        }

        @media (max-width: 885px) {
          font-size: 12px !important;
          line-height: 12px !important;
          padding-top: 4px;
        }

        @media (max-width: 706px) {
          font-size: 36px !important;
          line-height: 46px !important;
          
        }

        @media (max-width: 540px) {
          font-size: 16px !important;
          line-height: 26px !important;
          
        }
      

        &_current {
          padding: 0 10px;
          font-size: 48px;
          line-height: 50px;
          
            @media (max-width: 1772px) {
              font-size: 42px !important;
              line-height: 44px !important;
              
            }

            @media (max-width: 1230px) {
              font-size: 32px !important;
              line-height: 34px !important;
              
            }

            @media (max-width: 1130px) {
              font-size: 26px !important;
              line-height: 28px !important;
              
            }

            @media (max-width: 980px) {
              font-size: 22px !important;
              line-height: 24px !important;
            }

            @media (max-width: 885px) {
              font-size: 18px !important;
              line-height: 20px !important;
            }

            @media (max-width: 706px) {
              font-size: 50px !important;
              line-height: 70px !important;
              padding: 0;
            }

            @media (max-width: 540px) {
              font-size: 30px !important;
              line-height: 50px !important;
              
            }


            &:before {
              content: "";
              width: 20px;
              height: 20px;
              background: linear-gradient(80.66deg, #FF0000 -26.03%, #FFB36C 113.09%);
              display: inline-block;
              border-radius: 50%;
              position: relative;
              z-index: -1;
              vertical-align: text-top;
              top: -6px;
              left: 10px;
            }
        }

        &_svg {
          line-height: 0;
          padding-top: 0;
          width: 39px;
          height: 39px;

            @media (max-width: 1130px) {
              width: 34px;
              height: 34px;
            } 

            @media (max-width: 980px) {
              width: 30px;
              height: 30px;
            }

            @media (max-width: 885px) {
              width: 20px;
              height: 20px;
            }

            @media (max-width: 706px) {
              min-width: 39px;
              min-height: 39px;
              float: right;
              
            }

            @media (max-width: 540px) {
              min-width: 20px;
              min-height: 20px;
              float: right;
              
            }
        }
    }
}

.container {
  padding: 0 100px;

  @media (max-width: 706px) {
    padding: 0 20px;
    
  }

  @media (max-width: 420px) {
    padding: 0 10px;
    
  }
}

.top-content {
  
  display: flex;
  justify-content: space-around;

    @media (max-width: 1100px) {
      flex-direction: column;
      
    }

    &__post-wrapper {
      padding: 20px 0 0 0;
      width: 800px;
      height: 750px;
      margin: auto;

      @media (max-width: 1920px) {
        width: 48%;
        
      }

      @media (max-width: 1636px) {
        height: 620px;
        
      }

      @media (max-width: 1100px) {
        width: 80%;
        height: 500px;
      }

      @media (max-width: 850px) {
        width: 100%;
        height: 500px;
        
      }

      @media (max-width: 706px) {
        height: 450px;
        
      }

      @media (max-width: 420px) {
        height: 320px;
      }
      
    }


    &__post {
      width: 100%;
      height: 100%;
      
    }
}

.top-post {
  
  
  padding: 0px 11px 0 16px;
  background-color: rgba(0, 0, 0, 0.1);

  border: 5px solid #FFFFFF;
  border-radius: 60px;


    &__title {
      font-family: 'Archivo Black', sans-serif;
      color: #FFFFFF;
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

        @media (max-width: 1772px) {
          font-size: 70px;
        }

        @media (max-width: 1636px) {
          font-size: 60px;
        }

        @media (max-width: 1350px) {
          font-size: 50px;
          
        }

        @media (max-width: 706px) {
          font-size: 40px;
          
        }

        @media (max-width: 420px) {
          font-size: 30px;
          
        }
    }

    &__second-title {
      font-family: 'Arimo', sans-serif;
      color: #FFFFFF;

        @media (max-width: 1772px) {
          font-size: 38px;
        }

        @media (max-width: 1636px) {
          font-size: 28px;
        }

        @media (max-width: 400px) {
          font-size: 20px;
        }
    }

    &__button {
      
      width: 300px;
      height: 60px;
      margin: 20px auto;
      display: block;
      line-height: 70px;

        @media (max-width: 1350px) {
          width: 240px;
          height: 60px;
          
        }

        @media (max-width: 706px) {
          width: 150px;
          height: 30px;
          line-height: 30px;
          font-size: 15px !important;
        }

        
    }

    &__description {
      width: 420px;
      text-align: center;
      color: rgba(255, 255, 255, 0.56);
      font-family: 'Manjari', sans-serif;
      display: block;
      margin: auto;

      @media (max-width: 1350px) {
        font-size: 20px;
        width: 300px;
      }

      @media (max-width: 420px) {
        font-size: 10px;
        width: 200px;
      }
    }

    &__col-text {
      width: 1ch;
      word-break: break-word;
      display: block;
      margin: 0 100px;
      color: #FFFFFF;

        @media (max-width: 1636px) {
          
        }

        @media (max-width: 1636px) {
          font-size: 40px;
          
        }

        @media (max-width: 1350px) {
          margin: 0 50px;
        }
  
        @media (max-width: 1100px) {
          margin: 0 100px;
          font-size: 33px;
        }

        @media (max-width: 850px) {
          margin: 0 50px;
        }
  
        @media (max-width: 706px) {
          font-size: 29px;
          // margin: 0 50px;
        }
  
        @media (max-width: 420px) {
          font-size: 20px;
        }
    }

    &__image-wrapper {
      border-left: 5px solid #FFFFFF;
      display: block;
      flex-grow: 1;
      height: 100%;
      border-radius: 60px;
      background-image: url("/static/images/AbwqpFnBDms.png");
      background-repeat: no-repeat;
      background-size: auto 100%;
    }

    &_img {
      display: flex;
      padding: 0;
    }
}

.button {
  background: linear-gradient(234.56deg, #FFB36C -13.92%, #FF7171 88.3%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  
  font-family: 'Manjari', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  
}

.mid-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
}

.post {
  margin: 40px auto 0 auto;
  width: 520px;
  // height: 870px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  padding-bottom: 20px;

    @media (max-width: 560px) {
      width: 310px
      
    }

    &_transparent {
      background-color: unset;
      box-shadow: unset;
    }

    &__img-wrapper {
      height: 325px;
      background-image: url("/static/images/AbwqpFnBDms.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
      border-radius: 60px;
      margin-bottom: 20px;

        @media (max-width: 560px) {
          height: 250px;
          
        }
    }

    &__img-bottom {
      height: 420px;
      background: rgba(255, 167, 86, 0.83);
      border-radius: 60px;
      text-align: center;

      @media (max-width: 560px) {
        height: 320px;
        font-size: 25px;
      }
    }

    &__img-title {
      
      @media (max-width: 560px) {
        font-size: 20px;
      }
    }

    &__description {
      margin: 40px;
      border-bottom: 1px solid black;
      font-family: 'Arimo', sans-serif;

        @media (max-width: 560px) {
          font-size: 15px;
          margin: 10px;
        }
    }

    &__footer {
      display: flex;
    }

    &__number {
      padding-left: 40px;
      font-family: 'Arimo', sans-serif;
      
        @media (max-width: 560px) {
          font-size: 24px;
          padding: 5px 0 0 20px;
        }
    }

    &__rate-stars {
      display: flex;
      padding: 10px 0 0 70px;

        @media (max-width: 560px) {
          padding: 10px 0 0 30px
        }
    }

    &__create {
      margin-top: 300px;

        @media (max-width: 1239px) {
          margin-top: 10px
        }
    }
}

.rate-stars {
  
    &__star {
      width: 39px;
      height: 31px;
      @media (max-width: 560px) {
        width: 30px;
        height: 30px;
      }
    }
}

.create {

    &__button {
      width: 112px;
      height: 112px;
      border-radius: 50%;
      font-size: 100px;
      display: block;
      margin: auto;
      
    }

    &__title {
      text-align: center;
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
      margin-top: 20px;
      
    }
}

.contributors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 132px;

    @media (max-width: 1239px) {
      margin-top: 10px
    }

    &__contributor-wrapper {
      padding: 0 10px;
    }
}

.contributor {
  width: 319px;
  height: 356px;
  padding: 24px 45px;
  margin-top: 20px;

  background: #FFFFFF;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  text-align: center;
  font-family: 'Manjari', sans-serif;

    &__title {
      font-family: 'Manjari', sans-serif;
      text-align: center;
    }

    &__img-wrapper {
      width: 225px;
      height: 175px;
      margin: auto;
      border-radius: 30px;

      background-image: url("/static/images/AbwqpFnBDms.png");
      background-repeat: no-repeat;
      
    }

    &__email {
      font-size: 18px;
      line-height: 40px;
    }

    &__address {
      font-size: 11px;
    }

    &__phone-number {
      font-size: 14px;
      line-height: 30px;
    }
}

.awards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__award-wrapper {
    padding: 50px 10px 0 10px;
  }
}

.award {
  width: 240px;
  height: 340px;
  padding-top: 70px;

  
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
  border-radius: 60px;

    &__img-wrapper {
      margin: auto;
      width: 149px;
      height: 195px;
      background-image: url("/static/images/award.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &__year {
      text-align: center;
      padding-top: 20px;
      font-family: "Manjari", sans-serif;
    }
}

.footer {
  //background: rgba(0, 0, 0, 0.31);
  //padding: 120px 60px;
  //margin-top: 70px;

	position: absolute;
	width: 100%;
  height: 80px;

  @media (max-width: 920px) {
    margin-top: 50px;
    padding: 10px 40px 54px 40px;
  }

    &__copyright-text {
      font-size: 15px;
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-weight: 400;
    }
}

.footer-menu {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 60px;
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
  margin-bottom: 40px;


    @media (max-width: 920px) {
      flex-wrap: wrap;
    }

    @media (max-width: 500px) {
      justify-content: space-between;
    }

    &__menu-item {
      width: 200px;
        &_sitename {
          flex-grow: 1;
            @media (max-width: 920px) {
              text-align: center;
            }
        }

        @media (max-width: 1100px) {
          width: 150px;
        }

        @media (max-width: 920px) {
          width: 120px;
        }
    }
  
    &__submenu-wrapper {
      padding: 0 10px;;
    }

    &__sitename-title {
      font-family: 'Mr Dafoe', cursive;
      font-size: 36px;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      color: #FFFFFF;
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

      
    }
}

.submenu {
  

    &__title {
      font-weight: bold;
      font-family: "Monsterrat", sans-serif;
      color: #FFFFFF;
      line-height: 40px;
      font-size: 15px;
      text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
      
    }

    &__item {
      font-size: 15px;
      font-family: "Monsterrat", sans-serif;
      display: block;
      color: #FFFFFF;
      line-height: 22px;
    }

    &__button {
      display: block;
      margin: 10px;
      width: 130px;
      height: 40px;
      font-size: 15px;
      line-height: 45px;

      @media (max-width: 920px) {
        width: 88px;
        height: 30px;
        font-size: 9px;
        line-height: 35px;
      }
    }

    &_buttons {
      @media (max-width: 920px) {
        padding-top: 15px;
      }
    }
}

.flex-break-item {
  width: 100%;

    &_footer {
      width: unset;

        @media (max-width: 920px) {
          width: 100%;
        }
    }
}

// html {
//   width: 100%; 
//   height: 100%;
//   overflow: hidden;
// }

// html, body {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
// }

html { overflow-x: hidden; }

.background {
  // min-height: 100%;
  // height: auto !important;
  // height: 100%;
  // position: absolute;
  // width: 100%;
  // top: 0;
  // left: 0;
  // overflow: hidden;

  z-index: -1;
  position: fixed;

    &__broccoli {

        &_1 {
          position: absolute;
          width: 141.29px;
          height: 151.88px;
          left: 66px;
          top: 14.85px;

          background: url("/static/images/broccoli_1.png");
          transform: rotate(-27.78deg);
          background-size: 100% 100%;
        }

        &_2 {
          position: absolute;
          width: 137.54px;
          height: 135.53px;
          left: 1436px;
          top: 19.08px;

          background: url("/static/images/broccoli_2.png");

          transform: rotate(-135.15deg);

          background-size: 100% 100%;
        }

        &_3 {
          position: absolute;
          width: 250.11px;
          height: 268.87px;
          top: 520px;
          left: 669px;

          background: url("/static/images/broccoli_1.png");
          transform: rotate(34.6deg);
          background-size: 100% 100%;
        }

        &_4 {
          position: absolute;
          width: 141.29px;
          height: 151.88px;
          left: 1000px;
          top: 352px;

          background: url("/static/images/broccoli_1.png");
          transform: rotate(64.35deg);
          background-size: 100% 100%;
        }

        &_5 {
          position: absolute;
          width: 141.29px;
          height: 151.88px;
          left: 46px;
          top: 1382.59px;

          background: url("/static/images/broccoli_1.png");
          transform: rotate(-44.25deg);
          background-size: 100% 100%;
        }

        &_6 {
          position: absolute;
          width: 137.54px;
          height: 135.53px;
          left: calc(50% - 137.54px/2 + 142.56px);
          top: 800px;

          background: url("/static/images/broccoli_2.png");
          transform: rotate(-130.63deg);
          background-size: 100% 100%;
        }

        &_7 {
          position: absolute;
          width: 181.58px;
          height: 178.92px;
          right: 20.26px;
          top: 1700.65px;

          background: url("/static/images/broccoli_2.png");
          transform: rotate(-96.63deg);
          background-size: 100% 100%;
        }

        &_8 {
          position: absolute;
          width: 250.11px;
          height: 268.87px;
          left: calc(50% - 250.11px/2 + 218.72px);
          top: 1797px;

          background: url("/static/images/broccoli_1.png");
          transform: rotate(34.6deg);
          background-size: 100% 100%;
        }

        &_9 {
          position: absolute;
          width: 141.29px;
          height: 151.88px;
          right: -15.29px;
          top: 2772.59px;

          background: url("/static/images/broccoli_1.png");
          transform: rotate(-44.25deg);
          background-size: 100% 100%;
        }

        &_10 {
          position: absolute;
          width: 227.9px;
          height: 213.45px;
          left: 500px;
          top: 1071px;

          background: url("/static/images/broccoli_2.png");
          transform: rotate(120.92deg);
          background-size: 100% 100%;
        }

        &_11 {
          position: absolute;
          width: 70.43px;
          height: 75.71px;
          left: calc(50% - 70.43px/2 + 122.16px);
          top: 3260px;

          background: url("/static/images/broccoli_1.png");
          transform: rotate(18.44deg);
          background-size: 100% 100%;
        }

        &_12 {
          position: absolute;
          width: 163.99px;
          height: 176.29px;
          right: 100.97px;
          top: 3403.27px;

          background: url("/static/images/broccoli_1.png");
          transform: rotate(-179.3deg);
          background-size: 100% 100%;
        }
    }
}