{% extends 'base_template.html' %}

{% block title %}
  Profile
{% endblock %}

{% block context %}
  <div class="container log-in">
    <div class="log-in__post-wrapper">
      <div class="log-in__post post">
        <p class="log-in__form-title">Autorization</p>
        <div class="log-in__form-wrapper">
          <form method="POST" class="log-in__form">
            {% csrf_token %}
            <input required type="text" name="username" class="log-in__input form-input" placeholder="Login">
            <input required type="password" name="password" class="log-in__input form-input" placeholder="Password">
            <button type="submit" class="log-in__form-button button">Log in</button>
            <div class="log-in__save-option">
              <input class="log-in__save-option-checkbox" id="save-option-label" type="checkbox">
              <label for="save-option-label" class="log-in__save-option-title">Save ?</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}