{% extends 'base_template.html' %}

{% block title %}
    Home
{% endblock %}

{% block context %}
  <div class="container sign-up">
    <div class="sign-up__post-wrapper">
      <div class="sign-up__post post">
        <p class="sign-up__form-title">Sign up for a free account</p>
        <div class="sign-up__form-wrapper">
          <form method="POST" class="sign-up__form">
            {% csrf_token %}
            <div class="sign-up__form-block sign-up__form-block--left">
              <div class="sign-up__double-input-wrapper">
                <input required type="text" name="first_name" id="first_name" class="sign-up__input form-input" placeholder="First name">
                <div class="sign-up__double-input-divider"></div>
                <input required type="text" name="last_name" id="last_name" class="sign-up__input form-input" placeholder="Last name">
              </div>
              <input required type="text" name="username" id="username" class="sign-up__input form-input" placeholder="Login">
              <input required type="email" name="email" id="email" class="sign-up__input form-input" placeholder="Email address">
              <input required type="password" name="password1" id="password1" class="sign-up__input form-input" placeholder="Create password1">
              <input required type="password" name="password2" id="password2" class="sign-up__input form-input" placeholder="Create password2">
              <button type="submit" class="sign-up__form-button sign-up__form-button button">Register</button>
            </div>
            <div class="sign-up__form-block sign-up__form-block--middle"></div>
            <div class="sign-up__form-block sign-up__form-block--right">
              <input required type="text" name="phone" id="phone" class="sign-up__input form-input" placeholder="Phone">
              <input required type="text" name="url" id="url" class="sign-up__input form-input" placeholder="Url">
              <input required type="text" name="company" id="company" class="sign-up__input form-input" placeholder="Companies">
              <input required type="text" name="address" id="address" class="sign-up__input form-input" placeholder="Address">
              <a href="#" class="sign-up__other-link">Other</a>
              <button type="submit" class="sign-up__form-button sign-up__form-button--mobile button">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}