{% extends 'base_template.html' %}

{% block title %}
  Diets
{% endblock %}

{% block context %}
  <div class="container diets">
    <div class="diets__posts">
      {% if posts %}
      {% for post in posts %}
        <article class="post">
          <div class="post__img-bottom">
            <img src="{{ post.img.url }}" alt="" class="post__img-wrapper">
            <h3 class="post__img-title">{{ post.title }}</h3>
          </div>
          
          <p class="post__description">{{ post.description }}</p>
    
          <div class="post__footer">
            <h2 class="post__number" style="color: #5D7CE9;">{{ post.id }}</h2>
            <div class="post__rate-stars rate-stars">
              <div class="rate-stars__star">
                <svg width="100%" height="100%" viewBox="0 0 39 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.8 0L24.2454 11.7467L38.6309 11.7467L26.9928 19.0066L31.4381 30.7533L19.8 23.4934L8.16185 30.7533L12.6072 19.0066L0.969082 11.7467L15.3546 11.7467L19.8 0Z" fill="#FBDD91"/>
                </svg>
                  
              </div>
              <div class="rate-stars__star">
                <svg width="100%" height="100%" viewBox="0 0 39 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.8 0L24.2454 11.7467L38.6309 11.7467L26.9928 19.0066L31.4381 30.7533L19.8 23.4934L8.16185 30.7533L12.6072 19.0066L0.969082 11.7467L15.3546 11.7467L19.8 0Z" fill="#FBDD91"/>
                </svg>
                  
              </div>
              <div class="rate-stars__star">
                <svg width="100%" height="100%" viewBox="0 0 39 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.8 0L24.2454 11.7467L38.6309 11.7467L26.9928 19.0066L31.4381 30.7533L19.8 23.4934L8.16185 30.7533L12.6072 19.0066L0.969082 11.7467L15.3546 11.7467L19.8 0Z" fill="#FBDD91"/>
                </svg>
                  
              </div>
              <div class="rate-stars__star">
                <svg width="100%" height="100%" viewBox="0 0 39 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.8 0L24.2454 11.7467L38.6309 11.7467L26.9928 19.0066L31.4381 30.7533L19.8 23.4934L8.16185 30.7533L12.6072 19.0066L0.969082 11.7467L15.3546 11.7467L19.8 0Z" fill="#FBDD91"/>
                </svg>
                  
              </div>
              <div class="rate-stars__star">
                <svg width="100%" height="100%" viewBox="0 0 39 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.8 0L24.2454 11.7467L38.6309 11.7467L26.9928 19.0066L31.4381 30.7533L19.8 23.4934L8.16185 30.7533L12.6072 19.0066L0.969082 11.7467L15.3546 11.7467L19.8 0Z" fill="#FBDD91"/>
                </svg>
              </div>
            </div>
          </div>
        </article>
      {% endfor %}
      {% endif %}
    </div>


    <!--<div class="search-food__paging">
      <span class="search-food__paging-back">&lt;back</span>
      <div class="search-food__paging-divider"></div>
      <a href="" class="search-food__paging-pagenumber">1</a>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">2</a>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">3</a>
      &nbsp;
      <span class="search-food__paging-dots">..</span>
      <div class="search-food__paging-divider search-food__paging-divider--middle"></div>
      <span class="search-food__paging-dots">..</span>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">45</a>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">46</a>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">47</a>

      <div class="search-food__paging-divider"></div>
      <span class="search-food__paging-next">next&gt;</span>
    </div>-->
  </div>
{% endblock %}