{% extends 'base_template.html' %}

{% block title %}
  Search food
{% endblock %}

{% block context %}
  <div class="container search-food">
    <form method="POST">
      {% csrf_token %}
      <div class="search-food__input-wrapper">
          <input type="text" class="search-food__input" name='data' placeholder="Search food">
      </div>
      <button type="submit" class="fix_x"></button>
    </form>
    <div class="search-food__filter-wrapper">
      <p class="search-food__filter-title">FILTER</p>
      <img src="/static/images/filter_open.svg" alt="" class="search-food__filter-open-img">
    </div>

    <div class="search-food__receipts">
      {% if answer %}
        {% for item in answer %}
          <div class="search-food__receipt">
            <p class="search-food__receipt-title">{{ item.name }}</p>
            <p class="search-food__receipt-subtitle">
              <span class="search-food__receipt-subtitle-text search-food__receipt-subtitle-text--left">Energy</span>
              <span class="search-food__receipt-subtitle-text search-food__receipt-subtitle-text--right">{{ item.energy }} kcal</span>
            </p>
            <p class="search-food__receipt-subtitle">
              <span class="search-food__receipt-subtitle-text search-food__receipt-subtitle-text--left">Protein</span>
              <span class="search-food__receipt-subtitle-text search-food__receipt-subtitle-text--right">{{ item.protein }} g</span>
            </p>
            <p class="search-food__receipt-subtitle">
              <span class="search-food__receipt-subtitle-text search-food__receipt-subtitle-text--left">Fat</span>
              <span class="search-food__receipt-subtitle-text search-food__receipt-subtitle-text--right">{{ item.fat }} g</span>
            </p>
            <p class="search-food__receipt-subtitle">
              <span class="search-food__receipt-subtitle-text search-food__receipt-subtitle-text--left">Carbohydrate</span>
              <span class="search-food__receipt-subtitle-text search-food__receipt-subtitle-text--right">{{ item.carbohydrate }} g</span>
            </p>
            <p class="search-food__receipt-end">100 g/ml</p>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="search-food__paging">
      <span class="search-food__paging-back">&lt;back</span>
      <div class="search-food__paging-divider"></div>
      <a href="" class="search-food__paging-pagenumber">1</a>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">2</a>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">3</a>
      &nbsp;
      <span class="search-food__paging-dots">..</span>
      <div class="search-food__paging-divider search-food__paging-divider--middle"></div>
      <span class="search-food__paging-dots">..</span>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">45</a>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">46</a>
      &nbsp;
      <a href="" class="search-food__paging-pagenumber">47</a>

      <div class="search-food__paging-divider"></div>
      <span class="search-food__paging-next">next&gt;</span>
    </div>
  </div>
{% endblock %}