.sign-up {

  &__post-wrapper {
    margin: 144px 0;

    @media screen and (max-width: 860px) {
      margin: 56px 0;
    }
  }

  &__post {
    max-width: 1057px;
    width: 100%;
    padding-top: 20px;
    padding: 20px 80px 60px 80px;

    @media screen and (max-width: 860px) {
      padding: 20px 24px 60px 24px;
    }
  }

  &__form-title {
    font-weight: bold;
    font-family: "Montserrat";  
    text-align: center;
    line-height: 100px;

    @media screen and (max-width: 400px) {
      font-size: 20px;
    }
  }

  &__form-button {
    height: 40px;
    width: 100%;
    font-size: 15px;
    line-height: 40px;

    @media screen and (max-width: 860px) {
      display: none;
    }

    &--mobile {
      display: none;

      @media screen and (max-width: 860px) {
        display: block;
      }
    }
  }

  &__input {
    height: 40px;
    width: 100%;
    min-width: 0;
    margin-bottom: 24px;
  }

  &__double-input-wrapper {
    display: flex;

    
  }

  &__other-link {
    color: #000;
    font-family: "Montserrat";
    line-height: 40px;
    display: block;
    width: min-content;
    margin: 0 auto;

    @media screen and (max-width: 860px) {
      order: -1;
      line-height: 80px;
    }
  }

  &__double-input-divider {
    min-width: 20px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 860px) {
      flex-wrap: wrap;
      justify-content: space-around;

    }
  }

  &__form-block {
    display: flex;
    flex-direction: column;
    

    &--left {
      max-width: 494px;
      width: 100%;

      @media screen and (max-width: 860px) {
        max-width: unset;
      }
    }

    &--right {
      width: 100%;
      max-width: 364px;
      
      @media screen and (max-width: 860px) {
        max-width: unset;
      }
    }

    &--middle {
      min-width: 55px;

      @media screen and (max-width: 1000px) {
        min-width: 20px;
      }
    }
  }
}